* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background: url(white-bg.jpg) no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(5px) brightness(30%);
}

.brazilImage {
  background-size: contain;
  display: flex;
  height: 350px;
  width: auto;
  align-items: center;
  margin: 50px 50px 0px 50px; 
}

.brazilContent {
  background-color: rgba(255, 255, 255, 0);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  color: white;
}

.brazilSection {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}

.brazilDescription {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 100px;
  font-style: italic;
}

.brazilSubtext {
  background-color: lightgrey;
  padding: 30px;
  border-radius: 10px;
  margin: 15px;
  color: black;
}

.monzaImage {
  background-size: contain;
  display: flex;
  height: 350px;
  width: auto;
  align-items: center;
}

.monzaContent {
  background-color: rgba(255, 255, 255, 0);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  color: white;
}

.monzaSection {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}

.monzaDescription {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

.monzaSubtext {
  background-color: lightgrey;
  padding: 30px;
  border-radius: 10px;
  margin: 15px;
  color: black;
}

.azerbaijanImage {
  background-size: contain;
  display: flex;
  height: 350px;
  width: auto;
  align-items: center;
  margin: 50px;
}

.azerbaijanContent {
  background-color: rgba(255, 255, 255, 0);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.azerbaijanSection {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

.azerbaijanDescription {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

.azerbaijanSubtext {
  background-color: lightgrey;
  padding: 30px;
  border-radius: 10px;
  margin: 15px;
  color: black;
}