* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: url(white-bg.jpg) no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(5px) brightness(30%);
}

a {
  color: black;
  text-decoration: none;
}

.heroCarousel {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-end;
  text-align: left;
  flex-direction: column;
  overflow: hidden;
}

.bioSlide {
  background-image: url(bio.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
}

.statsSlide {
  background-image: url(stats.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
}

.helmetsSlide {
  background-image: url(helmets.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.altSlideContent {
  padding: 0px 10px 10px 200px;
  border-radius: 10px;
  color: white;
  font-size: 35px;
  background-color: rgb(23, 57, 129);
  text-align: right;
}

.heroAltButton {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: rgb(199, 199, 199);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  margin-left: 300px;
}

.podiumSlide {
  background-image: url(podium.jpg);
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideContent {
  padding: 0px 200px 10px 10px;
  border-radius: 10px;
  color: white;
  font-size: 35px;
  background-color: rgb(23, 57, 129);
}

.slideButtonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideButton{
  text-align: center;
  padding: 25px;
  background-color: rgb(199, 199, 199);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  font-size: 30px;
}

.slideButton:hover{
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

.heroSubtitle {
  margin-bottom: 20px;
  font-size: 25px;
}

.heroButton {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: rgb(199, 199, 199);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
}

.heroButton:hover {
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

.recentNews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
  color: white;
  width: 750px;
}

.titleNews{
  font-size: 40px;
}

.infoNews{
  font-size: 20px;
  font-weight: normal;
}

.newsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helmetImage {
  background: url(gasly_helmets.jpg) no-repeat center;
  background-size: contain;
  display: flex;
  height: 500px;
  width: 500px;
}

.helmetContent {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  color: white;
}

.helmetButton {
  background-color: rgb(199, 199, 199);
  padding: 15px;
  border-radius: 7px;
  font-size: 25px;
  margin-top: 30px;
}

.helmetButton:hover {
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

.helmetSection {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  margin-top: 50px;
}

.helmetSubtext {
  font-weight: normal;
  font-size: 25px;
  margin-top: 10px;
}

.bioImage {
  background: url(gasly_bio.jpg) no-repeat center;
  height: 500px;
  width: 500px;
}

.bioSection {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  margin-top: 150px;
}

.bioContent {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  color: white;
}

.bioButton {
  background-color: rgb(199, 199, 199);
  padding: 15px;
  border-radius: 7px;
  font-size: 25px;
  margin-top: 30px;
}

.bioButton:hover {
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

.bioSubtext {
  font-weight: normal;
  font-size: 25px;
  margin-top: 10px;
}

.footer {
  background-color: rgb(23, 57, 129);
  padding: 50px;
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.podiumImage {
  background: url(podiumpic.jpg) no-repeat center;
  background-size: contain;
  display: flex;
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

.podiumContent {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  color: white;
}

.podiumButton {
  background-color: rgb(199, 199, 199);
  padding: 15px;
  border-radius: 7px;
  font-size: 25px;
  margin-top: 30px;
}

.podiumButton:hover {
  background-color: rgb(100, 100, 100);
  color: rgb(255, 255, 255);
}

.podiumSection {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  margin-top: 100px;
}

.podiumSubtext {
  font-weight: normal;
  font-size: 25px;
  margin-top: 10px;
}
